<h1>Adaptive Streaming with HTML5</h1>
<div>
    <p>para fazer esse projeto funcionar no ibm bluemix é necessario que seja rodado o comando:</p>
    <h3>$ dotnet migrate</h3>
    <p>assim o projeto troca o project.json para csproj</p>
    <h4> mais informaçoes em <a>https://docs.microsoft.com/pt-br/dotnet/core/migration/</a></h4>
</div>
