@model IEnumerable<BethanysPieShop.Models.Pie>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=devide-width, initial-scale=1" />
    <title>Index</title>
</head>
<body>
    @foreach (var pie in Model)
    {
        <div>
            <h2>@pie.Name </h2>
            <h3>@pie.Price.ToString("c")</h3>
            @*<h4>@pie.Category.CategoryName </h4>*@
        </div>
    }
</body>
</html>